body {
    margin: 0px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

$sun-size: 40%;

.sunset {
    width: $sun-size;
    padding-bottom: $sun-size;
    border-radius: 50%;
    background: linear-gradient(#FBEF45, #f7b763, #FD1DB1);
}
